@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import "tailwindcss";
@plugin "daisyui";

@layer base {
  :root {
    --font-saira-condensed: "Saira Condensed", sans-serif;
  }

  .font-saira-condensed {
    font-family: var(--font-saira-condensed);
  }
}

@layer base {
  :root {
    --font-nunito-sans: "Nunito Sans", sans-serif;
  }

  .font-nunito-sans {
    font-family: var(--font-nunito-sans);
  }
}